<h1 class="pageTitle" id="formTitle">MongoDB Interface</h1>

<h4 class="subTitle">Register users to database by clicking Submit or log in by clicking Sign In</h4>
        
<div id="formContainer">
    <form class="pure-form pure-form-aligned" method="POST" action="/submit" onsubmit="return validateFields()">
        <fieldset>
            <div class="pure-control-group">
                <label for="email">Email Address</label>
                <input id="email" type="email" placeholder="Email Address" name="email">
            </div>
                    
            <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password" name="password">
            </div>
            
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
                <button type="submit" class="pure-button pure-button-primary" formaction="/queryDB">Sign In</button>
            </div>
        </fieldset>
    </form>
</div>